*.asv

*.awi

*.fig

*.xls

*.aux

*.bbl

*.blg

*.log

*.log*

*.pdf

SelfTest/

*.bdf

*.dat

*.op4

Models/FAME/

BaselineTrimResults.mat

*.f04

*.f04*

*.f06

*.f06*

*.h5

*.h5*

*.xdb

FEX/geom3d-2019.09.26/

FEX/SurfaceIntersection/